USE [TestCommunityPlatform]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2026/5/9 下午 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[PostID] [int] NOT NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 2026/5/9 下午 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [varchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/5/9 下午 11:22:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Password] [varchar](255) NOT NULL,
	[CoverImage] [varchar](max) NULL,
	[Biography] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([PostID])
REFERENCES [dbo].[Posts] ([PostID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Post_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Post_User]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateComment] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateComment]
    @PostID INT,
    @UserID INT,
    @Content NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [Comments] ([PostID], [UserID], [Content])
    VALUES (@PostID, @UserID, @Content);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewCommentID;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_CreatePost] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreatePost]
    @UserID INT,
    @Content NVARCHAR(MAX),
    @Image VARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO [Posts] ([UserID], [Content], [Image])
    VALUES (@UserID, @Content, @Image);
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NewPostID;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_DeleteComment] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteComment]
    @CommentID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [Comments]
    SET [IsDeleted] = 1
    WHERE [CommentID] = @CommentID AND [UserID] = @UserID;
    SELECT @@ROWCOUNT AS AffectedRows;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_DeletePost] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeletePost]
    @PostID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [Posts]
    SET [IsDeleted] = 1
    WHERE [PostID] = @PostID AND [UserID] = @UserID;
    SELECT @@ROWCOUNT AS AffectedRows;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_GetAllPostsWithDetails] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllPostsWithDetails]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        p.PostID,
        p.UserID,
        p.Content,
        p.Image,
        p.CreatedAt,
        p.IsDeleted,
        u.UserName AS AuthorName,
        c.CommentID,
        c.Content AS CommentContent,
        c.CreatedAt AS CommentCreatedAt,
        c.UserID AS CommentUserID,
        cu.UserName AS CommentUserName
    FROM [Posts] p
    INNER JOIN [Users] u ON p.UserID = u.UserID
    LEFT JOIN [Comments] c ON p.PostID = c.PostID AND c.IsDeleted = 0
    LEFT JOIN [Users] cu ON c.UserID = cu.UserID
    WHERE p.IsDeleted = 0
    ORDER BY p.CreatedAt DESC;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_GetUserByPhone] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserByPhone]
    @phone VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Users WHERE Phone = @phone;
END
GO

/****** Object:  StoredProcedure [dbo].[sp_UpdateComment] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateComment]
    @CommentID INT,
    @UserID INT,
    @Content NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [Comments]
    SET [Content] = @Content
    WHERE [CommentID] = @CommentID AND [UserID] = @UserID AND [IsDeleted] = 0;
    SELECT @@ROWCOUNT AS AffectedRows;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_UpdatePost] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdatePost]
    @PostID INT,
    @UserID INT,
    @Content NVARCHAR(MAX),
    @Image VARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE [Posts]
    SET [Content] = @Content,
        [Image] = ISNULL(@Image, [Image]),
        [CreatedAt] = GETDATE()
    WHERE [PostID] = @PostID AND [UserID] = @UserID;
    SELECT @@ROWCOUNT AS AffectedRows;
END;
GO
